<!DOCTYPE html>
<html lang="<%= lang %>">
<script>
  function toggleMenu() {
    document.getElementById('mainMenu').classList.toggle('show');
  }
</script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'Parish Website' %></title>
  <% if (favicon) { %>
  <link rel="icon" href="<%= favicon %>" type="image/png">
<% } %>

  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

  <%- include('../partials/header') %>

  <main>
    <%- body %>
  </main>

  <%- include('../partials/footer') %>

</body>
</html>

